# Ecommerce Purchase exercise

In thi Exercise we will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try you best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.
Please excuse anything that doesn't make, "Real-World" sense in the dataframe, all the data is fake and made-up. Also note that all of these questions can be answered with one line of code.

Please excuse anything that doesn't make, "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.

### Import pandas and read in the Ecommerce Purchase csv file and set it to a DataFrame called ecom

In [1]:
import pandas as pd

In [2]:
ecom = pd.read_csv("Ecommerce Purchases")

### Check the head of the Dataframe

In [3]:
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

### How many rows and columns are there?

In [4]:
ecom.shape

(10000, 14)

In [5]:
#Other way is
#To find no. of columns
len(ecom.columns)

14

In [6]:
#To find no. of rows i.e. indexes
len(ecom.index)

10000

### What is the average purchase price

In [7]:
ecom["Purchase Price"].mean()

50.34730200000025

### What is the highest and lowest purchase price

In [8]:
ecom["Purchase Price"].max()

99.99

In [9]:
ecom["Purchase Price"].min()

0.0

### How many people have English "en" as their language of choice on the website?

In [10]:
ecom[ecom["Language"] == "en"].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [11]:
#another way
sum(ecom["Language"] == "en")

1098

In [12]:
#another way
ecom[ecom["Language"] == "en"]["Language"].count()

1098

### How many people have job title of "Lawyer"?

In [13]:
sum(ecom["Job"] == "Lawyer")

30

In [14]:
ecom[ecom["Job"] == "Lawyer"]["Job"].count()

30

In [15]:
ecom[ecom["Job"] == "Lawyer"].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [16]:
len(ecom[ecom["Job"] == "Lawyer"])

30

In [17]:
len(ecom[ecom["Job"] == "Lawyer"].index)

30

### How many people made the purchase during the AM and how many people made the purchase during PM?

In [18]:
sum(ecom["AM or PM"] == "AM")

4932

In [19]:
sum(ecom["AM or PM"] == "PM")

5068

In [20]:
ecom[ecom["AM or PM"] == "PM"]["AM or PM"].value_counts()

PM    5068
Name: AM or PM, dtype: int64

In [21]:
ecom[ecom["AM or PM"] == "AM"]["AM or PM"].value_counts()

AM    4932
Name: AM or PM, dtype: int64

In [22]:
ecom["AM or PM"].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

### What are the 5 most common job titles?

In [23]:
ecom["Job"].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

### Someone made a purchase that came from Lot: "90 WT", what was the Purchase Price for this transaction?

In [24]:
ecom[ecom["Lot"] == "90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

### What is email of the person with the following Credit Card Number: 4926535242672853

In [25]:
ecom[ecom["Credit Card"] == 4926535242672853]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

### How many people have their American Express as their Credit Card Provider and made a purchase above $95?

In [26]:
len(ecom[(ecom["CC Provider"] ==  "American Express") & (ecom["Purchase Price"] > 95)].index)

39

In [27]:
sum((ecom["CC Provider"] ==  "American Express") & (ecom["Purchase Price"] > 95))

39

### Hard: How many people have a credit card that expires in 2025?

In [28]:
sum(ecom["CC Exp Date"].apply(lambda x: list(map(int,x.split("/")))[1] == 25))

1033

In [29]:
#another way
sum(ecom["CC Exp Date"].apply(lambda x: x[3:] == "25"))

1033

### Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc)

In [30]:
ecom["Email"].apply(lambda x: x.split("@")[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64